{% extends 'AuctionBundle::base.html.twig' %}
{% block body %}
    <div class="row">
        {% for item in items %}
            <a href="{{ path('item_show', { 'id': item.id }) }}" class="text-primary">
                <div class="col-xs-6 col-sm-3">
                    <div class="panel panel-default small item">
                        <div class="panel-body">
                            <img class="img-responsive"
                                 src="https://cnet2.cbsistatic.com/img/wd-2myeZ62IKbNCATa11Cn1Si2A=/770x433/2017/06/06/dd40dd8d-e24b-4859-82e8-5848e5922109/apple-macbook-pro-touch-bar-15-inch-2017-4194.jpg"/>
                        </div>
                        <div class="panel-footer">
                            <span>{{ item.name }}</span><br/>
                            <strong>Reward Points: {{ item.rewardpoints }}</strong></div>
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>
{% endblock %}
