{% extends 'AuctionBundle::base.html.twig' %}
{% block body %}
    <div class="row">
        {% for item in items %}
            <a href="{{ path('item_show', { 'id': item.id }) }}" class="text-primary">
                <div class="col-xs-6 col-sm-3">
                    <div class="panel panel-default small item">
                        <div class="panel-body">
                            {% for image in item.images %}
                                {% if (loop.index == 1) %}

                                    <img style="height: 100px;width: 100%" class="img-responsive"
                                         src="{{ asset('uploads/items/') ~  image.file }}"/>
                                {% endif %}

                            {% endfor %}
                        </div>
                        <div class="panel-footer">
                            <span>{{ item.name }}</span><br/>
                            <strong>Reward Points: {{ item.rewardpoints }}</strong></div>
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>
{% endblock %}
