{% extends 'AuctionBundle::base.html.twig' %}
{% block body %}

    <h1 class="page-header">Cloudstaff Dreamcard</h1>


    <img src="https://cloudstaff.com/wp-content/uploads/2017/09/RS109_Edited-02-lpr-669x272.jpg" class="img-rounded">

{% endblock %}
