<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}CloudStaff Dream Auction{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>

    {% stylesheets
    'bundles/auction/css/bootstrap.min.css'
    'bundles/auction/css/robots.css'
    'bundles/auction/css/bootstrap-flatly.min.css'
    filter='cssrewrite' output='css/compiled/app.css' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}

    <style>
        body {
            padding-top: 100px;
        }

        .item:hover {
            text-decoration: underline;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">CS Dream Auction</a>
            <p class="navbar-text navbar-right">Signed in as <a href="#" class="navbar-link">Mark Otto</a></p>

        </div>
        <ul class="nav navbar-nav navbar-right">
            {% if is_granted('ROLE_ADMIN') %}
                <li><a href="/logout">Logout</a></li>
            {% else %}
                <li><a href="/login">Login</a></li>
            {% endif %}
        </ul>
    </div>
</nav>

<div class="container">
    {% block body %}{% endblock %}
</div>


{% javascripts
'bundles/auction/js/jquery.min.js'
'bundles/auction/js/bootstrap.min.js'
'bundles/auction/js/4eb93206e0.js'
output='js/compiled/app.js' %}
<script src="{{ asset_url }}"></script>
{% endjavascripts %}


</body>
</html>
